body{
 display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.container{
    border: 2px solid;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.child{
     
    border: 6px solid;
    background-color: black;
    height: 60px;
    border-radius: 50px 50px 50px 50px;
    
    
}
.child-1{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-2{
    animation-name: a;
    animation-duration: 0.9s;
    animation-delay: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-3{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-4{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-5{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-6{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-7{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-8{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.child-9{
    animation-name: a;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes a{
      10%{
        transform:scale(1,1);
      }
      50%{
        transform: scale(0.8,3);
      }
      100%{
        transform: scale(0.8,0.5);
      }
      
}

